<!--The content below is only a placeholder and can be replaced.-->

<div #header style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow: auto"
  (scroll)="scrolled($event)">
  <div appAutoImage (dataUrlChange)="imageChanged( $event )" style="background-color:rgb(63, 63, 63)">
    <router-outlet></router-outlet>

    <div style="position: relative; " class="content" [ngClass]="{ 'compact': scrollPosition > 50 }">


      <div class="container">
        <div class="nsc-button row" style="background-color: #dae71c9f; margin-bottom: 20px">

          <div class="nsc-border" #border12></div>
          <div class="message col-8 col-sm-12 col-md-12 col-lg-8" [ngClass]="{ 'compact': scrollPosition > 400 }">
            <p style="color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </p>
          </div>
          <div class="col-2 col-sm-4 col-md-6 col-lg-2">
            <div class="nsc-button" style="background-color: #ffffff52;">
              Accept
              <div appReveal [revealContext]="header" [revealBorder]="border10"></div>
              <div class="nsc-border" #border10></div>
            </div>
          </div>
          <div class="col-2 col-sm-4 col-md-6 col-lg-2">
            <div class="nsc-button" style="background-color: #1b1b1b41;">
              Decline
              <div appReveal [revealContext]="header" [revealBorder]="border11"></div>
              <div class="nsc-border" #border11></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="nsc-button row" style="background-color: #dae71c9f; margin-bottom: 20px">

          <div class="nsc-border" #border13></div>
          <div class="col-8 col-sm-12 col-md-12 col-lg-8">
            <p style="color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </p>
            <p style="color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </p>
            <p style="color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </p>
            <p style="color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </p>
          </div>
          <div class="col-2 col-sm-4 col-md-6 col-lg-2">
            <div class="nsc-button" style="background-color: #ffffff52;">
              Accept
              <div appReveal [revealContext]="header" [revealBorder]="border10"></div>
              <div class="nsc-border" #border10></div>
            </div>
          </div>
          <div class="col-2 col-sm-4 col-md-6 col-lg-2">
            <div class="nsc-button" style="background-color: #1b1b1b41;">
              Decline
              <div appReveal [revealContext]="header" [revealBorder]="border11"></div>
              <div class="nsc-border" #border11></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="nsc-button row" style="background-color: #dae71c9f; margin-bottom: 20px">

          <div class="nsc-border" #border13></div>
          <div class="col-8 col-sm-12 col-md-12 col-lg-8">
            <p style="color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </p>
            <p style="color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </p>
            <p style="color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </p>
            <p style="color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </p>
          </div>
          <div class="col-2 col-sm-4 col-md-6 col-lg-2">
            <div class="nsc-button" style="background-color: #ffffff52;">
              Accept
              <div appReveal [revealContext]="header" [revealBorder]="border10"></div>
              <div class="nsc-border" #border10></div>
            </div>
          </div>
          <div class="col-2 col-sm-4 col-md-6 col-lg-2">
            <div class="nsc-button" style="background-color: #1b1b1b41;">
              Decline
              <div appReveal [revealContext]="header" [revealBorder]="border11"></div>
              <div class="nsc-border" #border11></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="nsc-button row" style="background-color: #dae71c9f; margin-bottom: 20px">

          <div class="nsc-border" #border13></div>
          <div class="col-8 col-sm-12 col-md-12 col-lg-8">
            <p style="color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </p>
            <p style="color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </p>
            <p style="color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </p>
            <p style="color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </p>
          </div>
          <div class="col-2 col-sm-4 col-md-6 col-lg-2">
            <div class="nsc-button" style="background-color: #ffffff52;">
              Accept
              <div appReveal [revealContext]="header" [revealBorder]="border10"></div>
              <div class="nsc-border" #border10></div>
            </div>
          </div>
          <div class="col-2 col-sm-4 col-md-6 col-lg-2">
            <div class="nsc-button" style="background-color: #1b1b1b41;">
              Decline
              <div appReveal [revealContext]="header" [revealBorder]="border11"></div>
              <div class="nsc-border" #border11></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header"
    style="position: fixed; top: 0px; left: 0; right: 0;box-shadow: 0 0 8px #443356; background-color: #fff; overflow: hidden;"
    [ngClass]="{ 'compact': scrollPosition > 50 }">

    <div
      style="position: absolute; top: -16px; left: 0; right: 0; bottom: -16px;  filter:blur(16px); background-repeat: no-repeat;"
      [ngStyle]="{'background-image': imageUrl, 'background-position': '0 ' + (-(scrollPosition-16)) + 'px' }">
    </div>
    <div
      style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; border-bottom: 2px solid #7373733d; background-color: #7428c791;">
    </div>
    <div
      style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-image: url('./../assets/253055.bmp'); opacity: 0.15; filter: blur(4px);">
    </div>
    <div style="position: relative">
      <div class="container-fluid" style="color: #191919; padding-top: 24px; text-shadow: 0 0 20px #7d7d7d;">
        <div class="row" style="margin-bottom: 20px">
          <div class="message col-8 col-sm-12 col-md-12 col-lg-8" [ngClass]="{ 'compact': scrollPosition > 200 }">
            <p style="color: #fff">A navigation bar is a navigation header that is placed at the top of the page.</p>
          </div>
          <div class="col-2 col-sm-4 col-md-6 col-lg-2">
            <div class="nsc-button" style="background-color: #29b11f41;">
              Accept
              <div appReveal [revealContext]="header" [revealBorder]="border"></div>
              <div class="nsc-border" #border></div>
            </div>
          </div>
          <div class="col-2 col-sm-4 col-md-6 col-lg-2">
            <div class="nsc-button" style="background-color: #da1a4a41;">
              Decline
              <div appReveal [revealContext]="header" [revealBorder]="border2"></div>
              <div class="nsc-border" #border2></div>
            </div>
          </div>
        </div>
        <div class="row" id="submenu">
          <div class="col-8 col-sm-2 col-md-2 col-lg-2">
            <div class="nsc-button" style="background-color: #dabd1a41;">
              X
              <div appReveal [revealContext]="header" [revealBorder]="border4"></div>
              <div class="nsc-border" #border4></div>
            </div>
          </div>
          <div class="col-8 col-sm-10 col-md-10 col-lg-10">
            <div class="nsc-button" style="background-color: #f04dd5c2;">
              A navigation bar is a navigation header that is placed at the top of the page.
              <div appReveal [revealContext]="header" [revealBorder]="border3"></div>
              <div class="nsc-border" #border3></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
